.bg-img1 {
    background: url(./images/IMG_080508_10624.jpeg);
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
   
  }
  .courasel-image {
    height: -20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
 .h1{
  font-weight: bolder;
  color:white;
  font-size: xx-large;
  margin-top: 40px;
  background-color: black;
  height: 70px;
  
 }
  
  .courasel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 20px;
    margin-top: 100px;
    margin-left: -30px;
   
  }
  .navbar h2 {
    margin-left: 20px;
    font-weight: bolder;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar ul li a {
    margin-right: 40px;
    padding: 10px;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    line-height: 1;
    font-weight: bold;
    list-style: none;
    color: white;
  }
  
  .navbar ul li a:hover {
    text-underline-offset: 0;
    transition: 0.5s;
  }
  
  .navbar ul button {
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    background-color: #c5d1ec;
    color: #000000;
    text-align: center;
    font-weight: bold;
  }
  
  .carousel-caption {
    border: 5px solid #fff;
    width: 600px;
    /* position: absolute; Center the caption */
    margin: auto;
    margin-bottom: 150px;
    padding: 15px;
  }
  
  .carousel-caption p {
    margin-top: 30px;
    margin-bottom: 30px;
    /* overflow-wrap: break-word; */
  }
  
  .carousel-caption h1 {
    margin-top: 20px;
    font-size: 48px;
  }
  
  .carousel-caption button {
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    background-color: #c5d1ec;
    color: #000000;
    margin-bottom: 30px;
  }
  /* .navbar-brand {
    font-size: 2rem;
  } */
  
  .appointment {
    text-align: center;
    padding: 50px;
  }
  
  .appointment h3 {
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .appointment p {
    margin-bottom: 30px;
  }
  
  .appointment button {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    background-color: black;
    color: #fff;
  }
  
  .abmo {
    display: flex;
    align-items: center;
    background-color: #c5d1ec;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .about {
    background-color: lightsteelblue;
    text-align: center;
  }
  
  .motivation {
    background-color: lightsteelblue;
    text-align: center;
  }
  
  .opi {
    text-align: center;
  }
  
  .cookie {
    display: flex;
    background-color: #000000;
  }
  .price{
    margin-top:850px;
    font-size: 30px;
    color: purple;
  }
  button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-size: 20px;
}
  